body {
    background-color: #8b0505;
    font-family: 'Roboto', sans-serif;
    color: #333;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 900px;
    margin: 50px auto;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    background-color: #ffffff;
    padding: 20px;
}

.logo {
    display: block;
    margin: 0 auto 20px;
    width: 150px;
    height: auto;
}

h1 {
    margin-bottom: 20px;
    font-size: 24px;
    color: #6c0000;
}
h2{
    margin-bottom: 20px;
    font-size: 24px;
    color: #6c0000;
}
.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
    padding: 0;
}

.grid-item {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 10px;
    border: 1px solid #c50202;
    border-radius: 8px;
    background-color: #f9f9f9;
    transition: background-color 0.3s, transform 0.3s;
}

.grid-item img {
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

.grid-item a {
    text-decoration: none;
    color: #0056b3;
    font-size: 16px;
}

.grid-item:hover {
    background-color: #e0e7ff;
    transform: scale(1.05);
}
